* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links{
    display: flex;
    gap: 20px;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

a, p {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: normal;
}

.right{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    display: flex;
    flex-direction: column;

}

.main{
    display: flex;
    flex-direction: column;
}

.FIRST {
    background-color: #1F2937;
    padding: 50px 200px;
    display: flex;
    gap: 30px;
    
}

.right, img {
    flex: 1;
}



button {
    background-color: #3882f6; 
    color: white;
    border: 0;
    border-radius: 7px;
    padding: 8px 30px;
    font-weight: bold;
    flex-grow: 0;
    align-self: flex-start;
    margin-top: 10px;
    font-size: 17px;
}

.SECOND {
    display: flex;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
    
}

.illustrations {
    display: flex;
    gap: 100px;
    margin-top: 50px;
    justify-content: center;
}

.illustration{
   width: 140px; 
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.illustration p {
    color: #1F2937;
    font-size: 15px;
    margin-top: 10px;
}

.illustration img{
    border-radius: 20px;
    width: 200px;
    height: 200px;
    flex: auto;
  }

.THIRD {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 100px 270px;
    font-weight: bold;
    font-size: 25px;
}

.THIRD p{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 100;
}


.FOURTH {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
}

.blue {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    gap: 100px;
    border-radius: 10px;
    align-items: center;
}

.text {
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.text p{
    font-size: 21px;
}

.blue button{
    border: 1px solid white;
    margin: 0;
    font: optional;
    align-self: center;
}

.footer{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

